node_modules/
dist/
build/
.env
.env.local
*.local
.DS_Store
*.log
*.dump
wk-neon.sql
coverage/
cypress/videos/
cypress/screenshots/
.turbo/
drizzle/meta/_journal.json.bak

# Cypress artifacts
apps/dashboard/cypress/screenshots
apps/dashboard/cypress/videos
apps/dashboard/cypress/downloads
